<div>
    <form action="/auth/signup" method="POST">
    <label for="username">Usuario:</label>
    <input type="text" name="username" required="true">
    <br>
    <label for="password">Contraseña:</label>
    <input type="text" name="password" required="true">
    <br>
    {{errorMessage}}
    <button>Registrarse</button>
    </form>
</div>